<div class='ctabox'>
    <div>#2 RIDE MORE. DRIVE LESS.</div> 
    <br>
    <div>Around 68% of all vehicle journeys are less than 5 miles in distance, which would take the average person less than 20 minutes to ride.</div> 
    <br>
    <div>If each of these journeys were by ridden by bike, each person would save over 360kg of C02 per year and we would have reduced overall carbon emissions by a whopping X%.</div>
    <br>
    <div>Not everyone can easily reduce the amount that they drive, but even riding once a week - or even once a month - instead of driving can make a huge difference.</div> 
    <br>
    <div>Remember, EVERY MILE COUNTS.</div>
</div>


