<div class='ctabox'>
    <div class='mediumtext'>#2 RIDE MORE. DRIVE LESS.</div> 
    <br>
    <div>Around 68% of our journeys are under 5 miles. 1 in 2 of these are in a car.
Yet the average person takes only 20 minutes to cycle 5 miles.</div> 
    <br>
    <div>If each of our short journeys were on a bike, not a car, each one of us could save over 200 kilos of CO2 per year.</div>
    <br>
    <div>Across the UK, that would be 24 billion journeys and 14 million tonnes of CO2 per year.</div> 
    <br>
    <div>That’s equivalent to 4% of the UK’s total carbon emissions. And 4% closer to net zero.</div>

	<div>It doesn’t have to be every day. Once a week, once a month - it makes a huge difference.</div>
	<br>
    <div>EVERY MILE COUNTS.</div>
</div>







