<div class='container'>
    <div class='spacer'></div>
    <div class='copycontainer'>
        <div class='copy'>We all need to act now to reach a net zero carbon footprint and prevent a global climate crisis.</div>
        <br>
        <div class='copy'>Every single mile that you choose to ride on your bike, instead of driving a car, will prevent 86g of harmful CO2 being released into the atmosphere.</div>
        <br>
        <br>
        <br>
        <br>
       
    </div>
    <div class='spacer'></div>
</div>

