.floatright {
    position: absolute;
    width: 265px;
    top: 355px;
    right: 25px;
    z-index: 5000;
    color: #FFFFFF;
    padding: 5px;
}

.big {
    font-size: 80px;
    line-height: 90px;
}