.floatright {
    position: absolute;
    width: 265px;
    top: 55px;
    right: 5px;
    z-index: 5000;
    background-color: #08985B;
    color: #FFFFFF;
    padding: 5px;
}

.big {
    font-size: 80px;
    line-height: 90px;
}